# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.game-tools.iml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\User\Documents\GitHub\game-tools\.idea\.idea.game-tools.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
